[importlinter]
root_packages =
    domain
    application
    infrastructure
    presentation

[importlinter:contract:layered]
name = Hexagonal Layers
type = layers
layers =
    presentation
    application
    infrastructure
    domain

[importlinter:contract:domain-pure]
name = Domain must not import anything
type = forbidden
source_modules =
    domain
forbidden_modules =
    infrastructure
    application
    presentation

[importlinter:contract:presentation-no-infra]
name = Presentation must not import directly from Infrastructure
type = forbidden
source_modules =
    presentation
forbidden_modules =
    infrastructure
allow_indirect_imports = True
